/* VARIABLES */

:root {
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 47%, 52%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-grey: hsl(204, 43%, 93%);
  --transparent-grey: hsla(204, 43%, 93%, 80%);
  --greyish-blue: hsl(218, 22%, 67%);
}

/* TYPOGRAPHY */

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

h1,
h2,
.accent,
button {
  font-weight: 700;
}

h1 {
  font-size: 1.25rem;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 1.125rem;
  letter-spacing: -0.02em;
}

.accent {
  font-size: 0.9375rem;
  letter-spacing: -0.015em;
}

p,
li {
  font-size: 0.875rem;
  letter-spacing: -0.01em;
}

p {
  line-height: 1.625rem;
}

#call-to-action p {
  font-size: 1rem;
}

#call-to-action .emphasize {
  font-size: 2rem;
  display: inline-block;
  margin: 0 0.75rem 0.75rem 0;
  letter-spacing: -0.02em;
}

li {
  line-height: 1.5em;
}

/* LAYOUT */

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 310px;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 1fr;
}

.grid-item {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  padding: 1em;
}

/* COLOURS */

body {
  background-color: var(--light-grey);
  color: var(--greyish-blue);
}

.container {
  background-color: white;
}

#call-to-action {
  background-color: var(--cyan);
}

#features {
  background-color: var(--light-cyan);
}

h1 {
  color: var(--cyan);
}

#value-prop .accent {
  color: var(--bright-yellow);
}

#call-to-action,
#features {
  color: white;
}

.price .de-emphasize,
ul {
  color: var(--transparent-grey);
}

.price h3 span {
  color: white;
}

button {
  background-color: var(--bright-yellow);
}
